    <meta name="referrer" content="origin" />

    <meta property="og:site_name" content="{{ site.name }}" />
    {% if page.article %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ page.date }}">
        {% if page.previous %}
        <link rel="prev" href="{{ site.url }}{{ page.previous.id }}" />
        {% endif %}
        {% if page.next %}
        <link rel="next" href="{{ site.url }}{{ page.next.id }}" />
        {% endif %}
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ page.title }}",
  "image": "{% if page.image %}{{ site.url }}/assets/images/{{ page.image}}{% else %}{{ site.url }}/assets/images/favicon/web_hi_res_512.png{% endif %}",
  "datePublished": "{{ page.date }}",
  "description": "{{ page.description }}"
}
    </script>
    {% else %}
    <meta property="og:type" content="website" />
    <link rel="next" href="{{ site.url }}/page2/" />
    {% endif %}
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% elsif site.name %}{{ site.name }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{% endif %}" />
    <meta property="og:url" content="{{ site.url }}{{ page.id}}" />
    <meta property="og:image" content="{% if page.image %}{{ site.url }}/assets/images/{{ page.image}}{% else %}{{ site.url }}/assets/images/favicon/web_hi_res_512.png{% endif %}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% elsif site.name %}{{ site.name }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{% endif %}" />
    <meta name="twitter:url" content="{{ site.url }}" />
    <meta name="twitter:image:src" content="{% if page.image %}{{ site.url }}/assets/images/{{ page.image}}{% else %}{{ site.url }}/assets/images/favicon/web_hi_res_512.png{% endif %}" />

    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "User Interfacing",
    "url": "{{ site.url }}",
    "image": "{% if page.image %}{{ site.url }}/assets/images/{{ page.image}}{% else %}{{ site.url }}/assets/images/favicon/web_hi_res_512.png{% endif %}",
    "description": "{{ site.description }}"
}
    </script>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/rss.xml" />
