<nav class="site-nav">
  <div class="nav-container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link nav-logo" href="{{ site.baseurl }}" aria-label="User Interfacing">
          {% include logo.html %}
        </a>
      </li>
      <li class="nav-item nav-logo-tagline">
        A publication on UI development, front-end development, &amp; UX.
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}about/">About</a>
      </li>
      <li class="nav-item nav-mobile">
        <a class="nav-link" href="{{ site.baseurl }}newsletter/">Subscribe</a>
      </li>
      <li class="nav-item nav-x-mobile">
        <a class="nav-link" href="{{ site.baseurl }}rss.xml">
          <i class="icon-rss"></i> Subscribe via RSS
        </a>
      </li>
      <li class="nav-item nav-x-mobile">
        <a class="nav-link" href="{{ site.baseurl }}newsletter/">
          <i class="icon-mail"></i> Subscribe via Email
        </a>
      </li>
      <li class="nav-item">
        <footer>
          <small>Copyright Adam Conrad &copy; {{  site.time | date: '%Y' }}</small>
        </footer>
      </li>
    </ul>
  </div>
</nav>
