@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66978115');
  src: url('../font/fontello.eot?66978115#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?66978115') format('woff2'),
       url('../font/fontello.woff?66978115') format('woff'),
       url('../font/fontello.ttf?66978115') format('truetype'),
       url('../font/fontello.svg?66978115#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 30px;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2x::before {
  font-size: 4rem;
  width: 60px !important;
}

.icon-mail:before { content: '\e800'; }
.icon-rss:before { content: '\f09e'; }
.icon-reddit-squared:before { content: '\f1a2'; }
.icon-hacker-news:before { content: '\f1d4'; }
.icon-twitter-squared:before { content: '\f304'; }
.icon-facebook-squared:before { content: '\f308'; }
