<!DOCTYPE html>
<html lang="en">
<head>
    <!-- [[! Document Settings ]] -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="User Interfacing">
    <meta name="HandheldFriendly" content="True">

    <!-- [[! Page Meta ]] -->
    <title>{% if page.title %}{{ page.title }} - {{site.name}}{% elsif site.name %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ site.url }}{{ page.id}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- [[! Styles'n'Scripts ]] -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Karla:600,400" />
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css">

    <!-- [[! Ghost outputs important style and meta data with this tag ]] -->
    {% include head.html %}
</head>
<body class="{% if page.url contains 'page' %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} nav-closed">

    <div class="container-fluid">
        <div class="row">
            {% include nav.html %}

            <!-- [[! Everything else gets inserted here ]] -->
            {{ content }}
        </div>
    </div>

    <div id="notification">
      A new version of this app is available. <a id="reload">Click here</a> to update.
    </div>

    <script>
      var host = "userinterfacing.com";
      if ((host == window.location.host) && (window.location.protocol != 'https:')) {
        window.location = window.location.toString().replace(/^http:/, "https:");
      }

      var newWorker, refreshing;
      document.getElementById('reload').addEventListener('click', function() {
        newWorker.postMessage({ action: 'skipWaiting' });
      });

      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function(registration) {
            registration.addEventListener('updatefound', () => {
              newWorker = registration.installing;
              newWorker.addEventListener('statechange', () => {
                switch (newWorker.state) {
                  case 'installed':
                    if (navigator.serviceWorker.controller) {
                      var notification = document.getElementById('notification ');
                      notification.className = 'show';
                    }
                    break;
                }
              });
            });
          });
        navigator.serviceWorker.ready
          .then(function(registration) {
            console.log('Service Worker Ready');
          });
        navigator.serviceWorker.addEventListener('controllerchange', function() {
          if (refreshing) return;
          window.location.reload();
          refreshing = true;
        });

        var article = document.querySelector('.cache-article');

        if (article) {
          article.addEventListener('click', function(event) {
            event.preventDefault();
            var id = this.dataset.articleId.slice(1);
            caches.open('userinterfacing-article-' + id).then(cache => {
              return cache.addAll(['/' + id]);
            });
            event.target.innerText = 'Saved!';
          });
        }
      }

      // https://raw.githubusercontent.com/deanhume/lazy-observer-load/master/lazy-load.js
      var images = document.querySelectorAll('.js-lazy-image');
      var config = {
        rootMargin: '50px 0px',
        threshold: 0.01
      };

      var imageCount = images.length;
      var observer;

      var fetchImage = function(url) {
        return new Promise(function(resolve, reject) {
          var image = new Image();
          image.src = url;
          image.onload = resolve;
          image.onerror = reject;
        });
      }

      var preloadImage = function(image) {
        var src = image.dataset.src;
        if (!src) {
          return;
        }

        return fetchImage(src).then(function(){ applyImage(image, src); });
      }

      var loadImagesImmediately = function(images) {
        for (var i = 0; i < images.length; i++) {
          var image = images[i];
          preloadImage(image);
        }
      }

      var disconnect = function() {
        if (!observer) {
          return;
        }

        observer.disconnect();
      }

      var onIntersection = function(entries) {
        if (imageCount === 0) {
          observer.disconnect();
        }

        for (var i = 0; i < entries.length; i++) {
          var entry = entries[i];
          if (entry.intersectionRatio > 0) {
            imageCount--;

            observer.unobserve(entry.target);
            preloadImage(entry.target);
          }
        }
      }

      var applyImage = function(img, src) {
        img.classList.add('js-lazy-image--handled');
        img.src = src;
        img.classList.add('fade-in');
      }

      if (!('IntersectionObserver' in window)) {
        loadImagesImmediately(images);
      } else {
        observer = new IntersectionObserver(onIntersection, config);

        for (var i = 0; i < images.length; i++) {
          var image = images[i];
          if (image.classList.contains('js-lazy-image--handled')) {
            continue;
          }

          observer.observe(image);
        }
      }
    </script>
    <!-- [[! Ghost outputs important scripts and data with this tag ]] -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- [[! The main JavaScript file for Casper ]] -->
    <script src="{{ site.baseurl }}assets/js/jquery.fitvids.js"></script>
    <script src="{{ site.baseurl }}assets/js/index.js"></script>

    <!-- Add Google Analytics  -->
    {% include analytics.html %}
</body>
</html>
